
body{
          background-image: url("../src/assets/home-option-4.jpg");
          background-size: cover; 
          background-position: initial; 
          background-repeat: no-repeat; 
          background-attachment: scroll;
}


